
.caption.admin{
    color: #D40A0A;
}

.thumbnail button{
    color: #F37518;
}

.thumbnail img{
    margin-left: 70px;
    height: 50px;
    width: 50px;
}

.thumbnail p{
    font-size: 12px;
    padding-top: 5px;
}

.caption{
    margin-left: 27px;

}

#printArea{
    width: 1200px;
    height: 700px;
    margin-left: -80px;
    overflow-y: scroll;
}

.card{
    width: 237px;
}
